<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color: rgb(0, 0, 0);
            background-color: rgb(89, 248, 235);
        }
    </style>
</head>
<body>
    <center>
        <h1>MUSTH SHADES VUNNAY RAAA NEELOO......</h1><hr><hr>
        <h1><marquee bgcolor="pink">Kamalhasan.....</marquee></h1><hr><hr>
        <h1>Life Long Inthena Raa Maaarava Nuvvuuu......</h1>
    </center>
</body>
</html>